<section class="topic" data-id="<%= @topic.id %>">
  <h1><%= @topic.title %></h1>

  <% if @omit %>
    <% n_recent_post_only = @topic.board.reply_omit_condition.n_recent_only %>
    <%= render_cell :post, :show, @posts.first %>
    <span class="notice">
      <%= @posts.size - 1 - n_recent_post_only %> posts omitted,
      <%= link_to 'view all', topic_path(@topic), data:{behavior:'view-omitted'} %>
    </span>
    <%= render_cell_collection :post, :show, @posts.last(n_recent_post_only) %>
  <% else %>
    <%= render_cell_collection :post, :show, @posts %>
  <% end %>
</section>
