<% content_for :head do
  title = [@board.name, "Page #{current_page}"].join(" - ")
%>
  <title><%= title %></title>
  <%= tag(:link, property:'canonical', content:board_url(@board)) %>
  <%= tag(:meta, property:'og:title', content:title) %>
  <%= tag(:meta, property:'og:type', content:'website') %>
  <%= tag(:meta, property:'og:url', content:board_url(@board)) %>
  <%= @board.presenter.og_image_tag %>
<% end %>

<div class="header">
  <%= render_cell(:post, :form, @board.topics.build) %>
  <%= render_custom_partial :after_form %>
</div>

<div class="main">
  <%= render_cell_collection :topic, :show, @topics, omit:true %>
  <%= paginate @topics %>
</div>

<div class="footer">
</div>
