<div class="header">
  <%= form_for(Post.new(topic:@topic)) do |f| %>
    <%= f.hidden_field :topic_id %>
    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<%= render_cell :topic, :show, @topic %>
