<article class="post" data-pos="<%= @post.pos %>">
  <header class="info">
    <% if @post.options_raw %>
      <%= mail_to @post.options_raw do %>
        <span class="author"><%= @post.author || "anonymous" %></span>
      <% end %>
    <% else %>
      <span class="author"><%= @post.author %></span>
    <% end %>
    <%= time_tag @post.created_at, format:@board.config.time_format %>
    <span class="id">#<%= @post.pos %></span>
    <div class="actions">
      <%= link_to 'Reply', topic_path(@post.topic), class:'reply' %>
    </div>
  </header>
  <% @post.images.each do |image| %>
    <%= link_to image_url(image.image.url), class:'img' do %>
      <%= image_tag image_url(image.image.thumb.url) %>
    <% end %>
  <% end %>
  <div class="content">
    <%= @post.content_html %>
  </div>
</article>
