<article class="post" id="<%= @post.presenter.dom_id %>" data-pos="<%= @post.pos %>">
  <header class="info">
    <span class="id">#<%= @post.pos %></span>
    <% if @post.options_raw %>
      <%= mail_to @post.options_raw do %><span class="author"><%= @post.author || "anonymous" %></span><% end %>
    <% else %>
      <span class="author"><%= @post.author %></span>
    <% end %>
    <%= link_to time_tag(@post.created_at, format:@board.config.dig(:time_format)), post_path(@post), rel:'bookmark' %>
    <div class="actions">
      <% if !@post.topic.locked? %>
        <%= link_to 'Reply', topic_path(@post.topic), class:'reply' %>
      <% end %>
    </div>
  </header>
  <%= render_cell :post, :images, @post %>
  <div class="content break-word">
    <%= @post.content_html %>
  </div>
  <% if @post.children.exists? %>
    <div class="reply">
      replied by:
      <% @post.children.each do |r| %>
        <%= link_to "> #{r.pos}", topic_path(@post.topic, anchor:r.presenter.dom_id) %>
      <% end %>
    </div>
  <% end %>
</article>
