<!DOCTYPE html>
<html>
<head>
  <title><%= @board.name %></title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render_view_fragment :top %>
  <h1><%= link_to @board.name, board_path %></h1>
</header>

<%= yield %>

<footer>
  <%= link_to 'Board Index', board_path %>
  <%= render_view_fragment :bottom %>
</footer>
</body>
</html>
