<!DOCTYPE html>
<html>
<head>
  <%= content_for :head %>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= jquery_include_tag :google %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render_custom_partial :bottom_of_head %>
</head>
<body class="<%= render_body_classes %>">
<header>
  <%= render_custom_partial :top_of_header %>
  <h1><%= link_to @board.name, board_path %></h1>
</header>

<%= yield %>

<footer>
  <%= link_to 'Board Index', board_path %>
  <%= render_custom_partial :bottom_of_footer %>
</footer>
</body>
</html>
